# Environment variables

# Environment | Development, Test, Production
NODE_ENV=development

# Port | The port the server will listen on
PORT=3000

# Host | The host the server will listen on
HOST=0.0.0.0

# CORS Origins | The origins that are allowed to access the API
CORS_ORIGINS=http://localhost:3000

# Log Level | The level of logging to use | trace, debug, info, warn, error, fatal, silent
LOG_LEVEL=debug
